$lucidicon-size: 25px;

body {
  background: transparent url('../images/background-canvas.jpg') center center no-repeat fixed;
  background-size: cover;
}

footer {
  padding-top: 20px;
  margin-top: 20px;

  .stripe-dashed {
    margin-top: 80px;
    margin-bottom: 20px;
  }
}

img {
  display: block;
  max-width: 100%;

  // delete dream
  .modal & {
    max-width: 60%;
    margin: auto;
  }
}

.sheep {
  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    max-width: 50%;
    margin: auto;
  }

  @media (min-width: $screen-lg-min) {
    // max-width: 100%;
  }
}

.dream,
.symbol {
  background: $gray-lightest;

  h2 {
    font-size: 18px;
    margin-top: 12px;
    padding: 0 12px;
  }

  p,
  ul {
    padding: 0 12px;
  }

  .panel-footer {
    border-top: none;
  }
}

.dream-active,
.symbol-active {
  background-color: $white;
  margin-left: -15px;
  margin-right: -15px;
  border-radius: 0;

  .panel-footer {
    border-top: 1px solid $panel-inner-border;
  }
}

.symbol {
  .panel-body {
    padding-bottom: 0;
    position: relative;
  }

  .panel-footer {
    padding-top: 0;
  }
}

.dream-active,
.symbol-active {
  .panel-footer {
    background-color: $white;
    border-top: none;
  }
}

.panel-footer {

  .summary {
    color: $gray-light;
    padding: 6px;

    .lucidicon {
      margin-left: 12px;
    }
  }
}

.ng-hide:not(.ng-hide-animate) {
  display: block !important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.datepicker {
  margin-bottom: 40px;

  .has-dreams {
    button {
      background-color: lightgray;
    }
  }

  table {
    margin: auto;
    // width: 60%;

    @media (min-width: $screen-sm-min) {
      // width: auto;
    }
  }

  @media (min-width: $screen-sm-min) {
    margin-top: 30px;
  }

  @media (min-width: $screen-lg-min) {
    margin-top: 60px;
    margin-bottom: 0;
  }

  @media (min-width: $screen-xs-min) and (max-width: $screen-xs-max) {
    margin-left: auto;
    margin-right: auto;
  }
}

.btn-group {
  display: flex;
  flex-wrap: wrap;

  .lucidicon {
    font-size: $lucidicon-size;
  }

  svg {
    width: $lucidicon-size;
    height: $lucidicon-size;
  }

  > .btn {
    margin-top: -1px;
    min-width: 100px;
    min-height: 64px;
    padding: 10px; // because of the search page (10px 15px;)
    display: flex;
    justify-content: center;
    flex-direction: column;

    &:first-child {
      margin-left: -1px;
      border-bottom-left-radius: 0;
    }

    &:last-child {
      border-top-right-radius: 0;
    }
  }

  &-twoline {
    > .btn {
      min-height: 94px;

      @media (min-width: $screen-md-min) {
        flex-grow: 1;
      }

      @media (min-width: $screen-lg-min) {
        flex-grow: unset;
      }
    }
  }
}

.panel-chart {
  margin-bottom: 30px;

  .panel-body {
    text-align: center;

    @media (min-width: $screen-md-min) {
      min-height: 230px;
    }
  }
}

.chart-container {
  width: auto;
  max-width: 100%;
  display: inline-block;
  margin: auto;

  @media (min-width: $screen-sm-min) {
    width: 100%;
  }
}

.select2-container {
  width: 100%;
}

.select2-choices {
  @extend .form-control;

  background-image: none !important;
  width: 100%;
  display: flex;
}

.ui-select-match {
  display: flex;
}

.ui-select-match-item {
  white-space: nowrap;
}

.select2-search-field {
  display: fle
  x;
  flex-grow: 1;

  input {
    width: 100% !important;
  }
}

.table-striped {
  background-color: transparent;

  > tbody > tr:nth-of-type(2n),
  thead {
    background-color: $white;
  }

  > tbody + tbody:before {
    content: '-';
    display: block;
    line-height: 1em;
    // color: transparent;
  }
}

.loader {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.compact {
  .form-control {
    &:first-child {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &:nth-child(2) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      margin-top: -1px;
    }

    &:active,
    &:focus {
      position: relative;
      z-index: 1;
    }
  }
}

@media (min-width: $screen-sm-min) {
  .layout-login {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 40px;
  }
}
