body {
  background: transparent url('../images/background-canvas.jpg') center center no-repeat fixed;
  background-size: cover;
}

.title-dreamingsheep {
  background: transparent url('../images/title.png') center center no-repeat;
  background-size: cover !important;
}

.title-dreams {
  background: transparent url('../images/title-dreams.png') center center no-repeat;
}

.title-symbols {
  background: transparent url('../images/title-symbols.png') center center no-repeat;
}

.title-stats {
  background: transparent url('../images/title-stats.png') center center no-repeat;
}

.line {
  background-color: transparent;
  box-shadow: none;
  border: none;
  background: transparent url('../images/line.png') right bottom no-repeat;
  background-size: 80%;
}

.list-unstyled {
  .title {
    margin-top: 20px;
  }

  .pull-right img {
    margin-top: -30px;
  }
}

.title {
  background-size: contain;
  text-indent: -9999px;
  font-size: 30px;
  display: block;

  a {
    display: block;
  }
}

.container {
  padding: 20px;
}

footer {
  padding-top: 20px;
  margin-top: 20px;

  .list-inline {
    margin-top: 80px;
  }
}

.menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.logo-header {
  width: 200px;
  height: 200px;
  background: transparent url('../images/logo-dreamingsheep-v3a.png') center center no-repeat;
  background-size: cover;
  position: absolute;
  top: 10px;
  left: 10px;
}

img {
  display: block; //  margin: auto;
  max-width: 100%;
}

.loader {
  display: inline-block;
  margin-right: 10px;
}

textarea {
  max-width: 100%;
}

footer,
h1,
h2 {
  a,
  a:hover {
    color: $gray;
  }
}

.dream {
  background: $white;

  &.inactive {
    background-color: $gray-lightest;

    .panel-footer {
      border-top: none;
      padding-top: 0;
    }

    .form-group {
      display: none;
      margin-bottom: 0;

      // TODO
      // scss-lint:disable NestingDepth
      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3) {
        display: block;
      }
    }

    label {
      color: $gray-light;
      display: none;
    }

    .form-control {
      border: none;
      box-shadow: none;
      background-color: $gray-lightest;
    }

    textarea {
      resize: none;
    }

    h3 {
      font-size: 18px;
      margin-top: 12px;
      padding: 0 12px;
    }

    p {
      margin-bottom: 0;
      padding: 0 12px;
    }
  }
}

.panel-footer {
  .btn-link {
    color: $gray-light;
  }

  .summary {
    color: $gray-light;
    padding: 6px;

    .lucidicon {
      margin-left: 12px;
    }
  }
}

.daily {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid transparent;
  margin-bottom: 15px;
}

.custom {
  min-width: 250px;
  margin: 3px 20px;

  label {
    font-weight: normal;
  }
}

.btn-primary {
  background: $brand-primary url('../images/button.jpg') center center no-repeat;
}

.btn-facebook {
  background-color: $color-facebook;
  color: $white !important;
}

.btn-google {
  background-color: $color-googleplus;
  color: $white !important;
}

.checkbox label span,
footer small,
h1:not(.title-dreamingsheep),
p {
  box-decoration-break: clone;
  display: inline-block;
  line-height: 2em;
  padding: .2em 1.5em .2em .5em;
  background-image: linear-gradient(115deg, rgba($white, .5) calc(100% - 1em), transparent calc(100% - 1em));
}

.login p {
  display: inline;
}

h1 {
  margin-bottom: 40px;
}

.details {
  display: none;
}

iframe {
  max-width: 100%;
}

.ng-hide:not(.ng-hide-animate) {
  display: block !important;
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.breadcrumb {
  background-color: transparent;
}

// responsive
@media (min-width: $screen-sm-min) {
  body {
    padding-top: 60px;
  }

  iframe {
    margin: 50px auto;
    display: block;
  }
}

@media (min-width: $screen-md-min) {
  .menu {
    position: fixed;
  }
}
