# Copy this file to .env.local and fill in your values. Do NOT check in .env.local to source control, as it contains secrets.

# Database
# ...@localhost for running it directly (outside Docker)
# ...@docker-postgres-dreamingsheep for running it via Docker
DATABASE_URL=postgresql://postgres:YOUR_PASSWORD@localhost:5432/dreamingsheep

# Session (generate with: openssl rand -hex 16, https://blitzjs.com/docs/auth-setup#production-deployment-requirements)
SESSION_SECRET_KEY=

# AWS S3 (for custom symbol images required for production, localhost would work without it)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET=
NEXT_PUBLIC_S3_BUCKET=

# Gmail OAuth2 (for sending emails, required for production, OAuth way of authentication via https://developers.google.com/oauthplayground/)
GMAIL_USER_MAIL=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=

# Application URL
# https://dreamingsheep.net for prod
WEB_APP_URL=http://localhost:3000

# reCAPTCHA (for sign up, required for production)
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

# JWT (generate with: openssl rand -hex 64)
JWT_SECRET=
