<div class="layout layout-login">
  <div class="container">
    <div class="row">
        <div class="col-sm-6 col-md-4 col-md-offset-2">
            <img src="images/sheep-dreamingsheep.png" data-ng-src="{{vm.forgotPasswordStep1 && 'images/sheep-forgot-password.png' || vm.forgotPasswordStep2 && 'images/sheep-mail.png' || vm.forgotPasswordStep3 && 'images/sheep-new-password.png'}}" alt="forgot password sheep" class="sheep"/>
        </div>
        <div class="col-sm-6 col-md-4">
            <h1 class="title-dreamingsheep"><span class="sr-only">dreamingsheep</span><img src="images/title-dreamingsheep.png" alt="dreamingsheep" aria-hidden="true" height="75"></h1>

            <div class="panel panel-default text-left" data-ng-include="'../../templates/forgot-password/forgot-password.tmpl.html'" data-ng-show="vm.forgotPasswordStep1"></div>

            <div class="panel panel-default text-left" data-ng-include="'../../templates/forgot-password/verify-email.tmpl.html'" data-ng-show="vm.forgotPasswordStep2"></div>

            <div class="panel panel-default text-left" data-ng-include="'../../templates/forgot-password/new-password.tmpl.html'" data-ng-show="vm.forgotPasswordStep3"></div>
        </div>
    </div>
  </div>

  <footer data-ng-include="'../../templates/footer.tmpl.html'"></footer>
</div>
