<div class="layout">
  <nav data-ng-include="'../../templates/nav.tmpl.html'" class="navbar navbar-default navbar-static-top"></nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <img src="images/sheep-recall.png" alt="dreamingsheep writing a blog post" class="sheep"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h1><span class="sr-only">Blog</span><img src="images/title-blog.png" height="55" alt="Blog" aria-hidden="true"></h1>
        <div class="panel panel-default dream inactive">
          <div class="panel-body">
            <h2><a href="#!/blog">Life purpose, milestone #1</a></h2>
            <p><small><span class="sr-only">Date:</span><span class="text-muted">4 January, 2021</span></small></p>
            <p>Sudden she seeing garret far regard. By hardly it direct if pretty up regret. Ability thought enquire settled prudent you sir. Or easy knew sold on well come year. Something consulted age extremely end procuring. Collecting preference he inquietude projection me in by. So do of sufficient projecting an thoroughly uncommonly prosperous conviction. Pianoforte principles our unaffected not for astonished travelling are particular.</p>
            <p>Certainty determine at of arranging perceived situation or. Or wholly pretty county in oppose. Favour met itself wanted settle put garret twenty. In astonished apartments resolution so an it. Unsatiable on by contrasted to reasonable companions an. On otherwise no admitting to suspicion furniture it.</p>
            <p>Neat own nor she said see walk. And charm add green you these. Sang busy in this drew ye fine. At greater prepare musical so attacks as on distant. Improving age our her cordially intention. His devonshire sufficient precaution say preference middletons insipidity. Since might water hence the her worse. Concluded it offending dejection do earnestly as me direction. Nature played thirty all him.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus, odio quis porta finibus, dui tortor pharetra orci, et malesuada massa mi ut magna. Proin fringilla lectus mauris, ut placerat leo pellentesque malesuada. Vestibulum hendrerit vehicula suscipit. Phasellus ornare lectus at arcu lobortis bibendum. In ornare mi vel lacus pretium imperdiet. Proin lacinia turpis tristique ex facilisis hendrerit. Vivamus congue massa metus, nec dignissim libero rhoncus vitae.</p>
          </div>
        </div>

        <div class="panel panel-default dream inactive">
          <div class="panel-body">
            <h2><a href="#!/blog">Working with personal themes</a></h2>
            <p><small><span class="sr-only">Date:</span><span class="text-muted">31 December, 2020</span></small></p>
            <p>Certainty determine at of arranging perceived situation or. Or wholly pretty county in oppose. Favour met itself wanted settle put garret twenty. In astonished apartments resolution so an it. Unsatiable on by contrasted to reasonable companions an. On otherwise no admitting to suspicion furniture it.</p>
            <p>Neat own nor she said see walk. And charm add green you these. Sang busy in this drew ye fine. At greater prepare musical so attacks as on distant. Improving age our her cordially intention. His devonshire sufficient precaution say preference middletons insipidity. Since might water hence the her worse. Concluded it offending dejection do earnestly as me direction. Nature played thirty all him.</p>
          </div>
        </div>

        <div class="panel panel-default dream inactive">
          <div class="panel-body">
            <h2><a href="#!/blog">Dreamingsheep is online!</a></h2>
            <p><small><span class="sr-only">Date:</span><span class="text-muted">21 December, 2020</span></small></p>
            <p>Certainty determine at of arranging perceived situation or. Or wholly pretty county in oppose. Favour met itself wanted settle put garret twenty. In astonished apartments resolution so an it. Unsatiable on by contrasted to reasonable companions an. On otherwise no admitting to suspicion furniture it.</p>
            <p>Neat own nor she said see walk. And charm add green you these. Sang busy in this drew ye fine. At greater prepare musical so attacks as on distant. Improving age our her cordially intention. His devonshire sufficient precaution say preference middletons insipidity. Since might water hence the her worse. Concluded it offending dejection do earnestly as me direction. Nature played thirty all him.</p>
          </div>
        </div>

        <span class="sr-only">Page</span>
        <ul class="pagination">
          <li class="disabled"><a href="#"><span class="lucidicon lucidicon-arrow-left"></span><span class="sr-only">Prev</span></a>
          </li>
          <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
          </li>
          <li><a href="#">2</a>
          </li>
          <li><a href="#">3</a>
          </li>
          <li><a href="#"><span class="lucidicon lucidicon-arrow-right"></span><span class="sr-only">Next</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <footer data-ng-include="'../../templates/footer.tmpl.html'"></footer>
</div>
