<div class="layout">
  <nav data-ng-include="'../../templates/nav.tmpl.html'" class="navbar navbar-default navbar-static-top"></nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <img src="images/sheep-search.png" alt="dreamingsheep with a magnifier" class="sheep"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h1><span class="sr-only">Search</span><img src="images/title-search.png" height="55" alt="Search" aria-hidden="true"></h1>
        <div class="input-group input-group-lg">
          <input type="text" class="form-control" placeholder="Search..." aria-label="Search" data-ng-model="vm.searchInput">
          <span class="input-group-btn">
            <button type="button" class="btn btn-default" data-ng-click="isAdvancedSearchCollapsed = !isAdvancedSearchCollapsed"><span class="hidden-xs">advanced</span><span class="lucidicon lucidicon-arrow-down" data-ng-class="isAdvancedSearchCollapsed ? 'lucidicon-arrow-up' : 'lucidicon-arrow-down'"></span></button>
            <button class="btn btn-primary" type="button"><span class="lucidicon lucidicon-search"></span><span class="sr-only">Search</span></button>
          </span>
        </div>
        <br>
        <div class="panel panel-default dream" data-ng-show="isAdvancedSearchCollapsed">
          <div class="panel-body">
            <form class="form-horizontal">
              <fieldset>
                <legend class="sr-only">Advanced search options</legend>
                <div class="form-group">
                    <label class="col-sm-2 control-label">sleep</label>
                    <div class="col-sm-10">
                      <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-default active">
                          <input type="radio" name="sleep" value="night">
                          <span class="lucidicon lucidicon-starry-night"></span>night
                        </label>
                        <label class="btn btn-default">
                          <input type="radio" name="sleep" value="morning">
                          <span class="lucidicon lucidicon-sun"></span>morning
                        </label>
                        <label class="btn btn-default">
                          <input type="radio" name="sleep" value="afternoon">
                          <span class="lucidicon lucidicon-coffee"></span>afternoon
                        </label>
                        <label class="btn btn-default">
                          <input type="radio" name="sleep" value="evening">
                          <span class="lucidicon lucidicon-sunset"></span>evening
                        </label>
                      </div>
                    </div>
                </div>
                <div class="form-group js-mood">
                  <label class="col-sm-2 control-label">mood</label>
                  <div class="col-sm-10">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default">
                        <input type="radio" name="mood" value="scarry">
                        <span class="lucidicon lucidicon-scarry"></span><span class="sr-only">scarry</span>
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="mood" value="sad">
                        <span class="lucidicon lucidicon-sad"></span><span class="sr-only">sad</span>
                      </label>
                      <label class="btn btn-default active">
                        <input type="radio" name="mood" value="neutral">
                        <span class="lucidicon lucidicon-neutral"></span><span class="sr-only">neutral</span>
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="mood" value="smiley">
                        <span class="lucidicon lucidicon-smiley"></span><span class="sr-only">smiley</span>
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="mood" value="laugh">
                        <span class="lucidicon lucidicon-laugh"></span><span class="sr-only">laugh</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group js-recall">
                  <label class="col-sm-2 control-label">recall</label>
                  <div class="col-sm-10">
                    <div class="btn-group" data-toggle="buttons">
                      <label class="btn btn-default">
                        <input type="radio" name="recall" value="blurry">
                        <span class="lucidicon lucidicon-batteryempty"></span>blurry
                      </label>
                      <label class="btn btn-default active">
                        <input type="radio" name="recall" value="na">
                        <span class="lucidicon lucidicon-batteryhalf"></span>n/a
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="recall" value="clear">
                        <span class="lucidicon lucidicon-batteryfull"></span>clear
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group js-type">
                  <label class="col-sm-2 control-label">type</label>
                  <div class="col-sm-10">
                    <div class="btn-group js-type" data-toggle="buttons">
                      <label class="btn btn-default active">
                        <input type="radio" name="type" value="regular">
                        <span class="lucidicon lucidicon-zzz"></span>regular
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="type" value="recurring">
                        <span class="lucidicon lucidicon-ouroboros"></span>recurring
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="type" value="precognition">
                        <span class="lucidicon lucidicon-poker"></span>precognition
                      </label>
                      <label class="btn btn-default js-lucid">
                        <input type="radio" name="type" value="lucid">
                        <span class="lucidicon lucidicon-eye"></span>lucid
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="type" value="multidimensional">
                        <span class="lucidicon lucidicon-wormhole"></span>multi-dimensional
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="type" value="obe">
                        <span class="lucidicon lucidicon-astral"></span>OBE/astral projection
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="type" value="sleep-paralysis">
                        <span class="lucidicon lucidicon-eyes"></span>sleep paralysis
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="type" value="falseawakening">
                        <span class="lucidicon lucidicon-alarm"></span>false awakening
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="type" value="meditation">
                        <span class="lucidicon lucidicon-buddha"></span>meditation/daydream
                      </label>
                      <label class="btn btn-default">
                        <input type="radio" name="type" value="psychedelic">
                        <span class="lucidicon lucidicon-mushroom"></span>psychedelic
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <fieldset data-ng-show="isAdvancedSearchCollapsed">
                <legend class="sr-only">Symbols</legend>
                <div class="form-group">
                  <label class="col-sm-2 control-label">symbols</label>
                  <div class="col-sm-10">
                    <ui-select multiple data-ng-model="multipleSymbols.symbols" theme="select2" tagging="true">
                      <ui-select-match placeholder="Select symbols...">{{$item}}</ui-select-match>
                      <ui-select-choices repeat="symbol in availableSymbols | filter:$select.search">
                        {{symbol}}
                      </ui-select-choices>
                    </ui-select>
                  </div>
                </div>
              </fieldset>
            </form>
          </div>
        </div>
        <div class="js-search-results">
          <h2>3 results</h2>
          <div class="panel panel-default dream inactive" data-ng-include="'../../templates/search/search-result01.tmpl.html'"></div>
          <div class="panel panel-default dream inactive" data-ng-include="'../../templates/search/search-result02.tmpl.html'"></div>
          <div class="panel panel-default dream inactive" data-ng-include="'../../templates/search/search-result03.tmpl.html'"></div>
          <span class="sr-only">Page</span>
          <ul class="pagination">
            <li class="disabled"><a href="#"><span class="lucidicon lucidicon-arrow-left"></span><span class="sr-only">Prev</span></a>
            </li>
            <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a>
            </li>
            <li><a href="#">2</a>
            </li>
            <li><a href="#">3</a>
            </li>
            <li><a href="#"><span class="lucidicon lucidicon-arrow-right"></span><span class="sr-only">Next</span></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <footer data-ng-include="'../../templates/footer.tmpl.html'"></footer>
</div>
