<div class="layout">
  <nav data-ng-include="'../../templates/nav.tmpl.html'" class="navbar navbar-default navbar-static-top"></nav>

  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-md-offset-2">
        <img src="images/sheep-faq.png" alt="dreamingsheep as a mechanican" class="sheep"/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <h1><span class="sr-only">FAQ</span><img src="images/title-faq.png" height="55" alt="FAQ" aria-hidden="true"></h1>
        <form>
          <div class="panel panel-default dream">
            <div class="panel-body">
              <h2>Who?</h2>
              <p>Dreamingsheep is your virtual assistant keeping track of your (lucid) dreams, or in broader terms, your altered states of consciousness.</p>
              <h2>What?</h2>
              <p>Dreamingsheep is an online dream journal where you can log and analyze your dreams. Find connections in your dream patterns like mood, theme, recall, sleep cycle, repeating symbols and others.</p>
              <h2>Where?</h2>
              <p>In your web browser on any of your devices.</p>
              <h2>When?</h2>
              <p>Right after you awaken while your memories are fresh.</p>
              <h2>Why?</h2>
              <p>That is up to you. Dreamingsheep's favorite activity is to practice flying.</p>
              <h2>How?</h2>
              <p>Sign up and have a good sleep. Sweet dreams!</p>
            </div>
          </div>

          <a href="mailto:meh@dreamingsheep.net" class="btn btn-primary pull-right">Ask</a>
        </form>
      </div>
    </div>
  </div>

  <footer data-ng-include="'../../templates/footer.tmpl.html'"></footer>
</div>
