<!-- <div class="panel panel-default dream inactive"> -->
<div class="panel-body">
  <h2>Alien abduction</h2>
  <p>Vestibulum hendrerit vehicula suscipit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras faucibus, odio quis porta finibus, dui tortor pharetra orci, et malesuada massa mi ut magna. Proin fringilla lectus mauris, ut placerat leo pellentesque malesuada.</p>
</div>
<div class="panel-footer clearfix">
  <div class="summary pull-left">
    <span class="js-summary-sleep lucidicon lucidicon-starry-night"></span>
    <span class="js-summary-mood lucidicon lucidicon-scarry"></span>
    <span class="js-summary-recall lucidicon lucidicon-batteryhalf"></span>
    <span class="js-summary-type lucidicon lucidicon-zzz"></span>
    <span class="sr-only">Symbols:</span><span class="js-summary-symbols lucidicon lucidicon-tags"></span> <a href="#!/symbols">aliens</a>
  </div>
  <button class="btn btn-link pull-right" style="display: block;"><span class="lucidicon lucidicon-pencil"></span><span class="sr-only">Edit</span>
  </button>
  <button data-toggle="modal" class="btn btn-default btn-link pull-right js-delete" data-ng-click="vm.open()"><span class="lucidicon lucidicon-trash"></span><span class="sr-only">Delete</span></button>
</div>
<!-- </div> -->
