<!-- <footer> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <!-- <span class="text-slogan">Long time, no sleep?</span> -->
        <p class="text-slogan">Long time, no sleep?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <ul class="list-inline">
          <!-- <li>
            <small>
              <a href="#">About</a> | <a href="#">FAQ</a> | <a href="#">Blog</a>
            </small>
          </li> -->
          <li><a href="#"><small>About</small></a>
          </li>
          <li><a href="#!/faq"><small>FAQ</small></a>
          </li>
          <li><a href="#"><small>Blog</small></a>
          </li>
          <li class="pull-right"><small>&copy; 2020 dreamingsheep</small>
          </li>
        </ul>
      </div>
    </div>
  </div>
<!-- </footer> -->
