<!-- <footer> -->
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-4 col-md-offset-4">
        <!-- <span class="text-slogan">Long time, no sleep?</span> -->
        <p class="text-slogan">Long time, no sleep?</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        <div class="stripe-dashed">
          <a href="#!/blog">Blog</a> | <a href="#!/faq">FAQ</a> | <a href="https://termly.io/">Privacy Policy</a> | <a href="mailto:meh@dreamingsheep.net">Contact</a> | <span class="footer-copy">&copy; 2020 dreamingsheep</span>
        </div>
      </div>
    </div>
  </div>
<!-- </footer> -->
