<!-- <nav class="navbar navbar-default navbar-static-top"> -->
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
        <img alt="dreamingsheep logo" src="images/logo-dreamingsheep-white.png" width="150" height="150">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-ng-click="isNavCollapsed = !isNavCollapsed">
        <span class="sr-only">Toggle</span>
        MENU
        <!-- <span class="lucidicon lucidicon-hamburger"></span> -->
      </button>
    </div>
    <div id="navbar" class="navbar-collapse collapse" data-uib-collapse="isNavCollapsed">
      <ul class="nav navbar-nav">
        <li><a href="/"><img alt="dreamingsheep" src="images/title-dreamingsheep.png" width="216" height="50" class="text-dreamingsheep"></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-show="globals.currentUser">
        <!-- <li><a href="#"><span class="lucidicon lucidicon-search"></span><span class="text-uppercase visible-xs-inline-block"> Search</span></a></li> -->
        <li>
          <form class="input-group input-group-search" data-ng-submit="vm.submitSearch(vm.searchInput)">
            <!-- data-ng-controller="SearchController" -->
            <label class="sr-only" for="searchInput">Search:</label>
            <input type="text" name="searchInput" id="searchInput" class="form-control" placeholder="Search..." aria-label="Search" data-ng-model="vm.searchInput">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit"><span class="lucidicon lucidicon-search"></span><span class="sr-only">Search</span></button>
            </span>
          </form>
        </li>
        <li ng-class="{ active: vm.isActive('/dreams')}"><a href="#!/dreams" class="text-uppercase">Dreams<span class="sr-only"> (current)</span></a></li>
        <li ng-class="{ active: vm.isActive('/symbols')}"><a href="#!/symbols" class="text-uppercase">Symbols</a></li>
        <li ng-class="{ active: vm.isActive('/stats')}"><a href="#!/stats" class="text-uppercase">Stats</a></li>
        <li class="dropdown dropdown-user" data-uib-dropdown data-is-open="menu.isopen">
          <!-- <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Cooper <span class="caret"></span></a> -->
          <a role="button" id="floating-menu" class="dropdown-toggle hidden-xs" data-uib-dropdown-toggle>
            Cooper&nbsp;<span class="lucidicon lucidicon-arrow-down"></span>
          </a>
          <ul data-uib-dropdown-menu role="menu" aria-labelledby="floating-menu">
            <li ng-class="{ active: vm.isActive('/settings')}"><a href="#!/settings"><span class="lucidicon lucidicon-settings hidden-xs"></span>Settings</a>
            </li>
            <li><a href="#!/login"><span class="lucidicon lucidicon-off hidden-xs"></span>Sign out</a>
            </li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right" ng-show="!globals.currentUser">
        <li><a href="#!/login" class="text-uppercase">Log in</a></li>
      </ul>
    </div>
    <!--/.nav-collapse -->
  </div>
<!-- </nav> -->
